<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
	
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-AspNetCore-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-AspNetCore-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	  <target xsi:type="ColoredConsole" name="logConsole">
		  <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
	      <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkYellow"/>
          <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
          <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
	      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
	  </target>
  </targets>
	
  <rules>
	  <logger name="*" minlevel="Trace" writeTo="logConsole" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>

	</nlog>